/* SilverWare Select2 Variables
===================================================================================================================== */

$select2-min-height: 36px;

$select2-bg-gradient-1: #eee;
$select2-bg-gradient-2: #fff 10%;
$select2-bg-gradient-3: #fff 90%;
$select2-bg-gradient-4: #eee;

$select2-clear-sel-color: #888;
$select2-clear-sel-color-hover: #444;

$select2-clear-sel-icon-size: 18px;

$select2-arrow-sel-width: 24px;

$select2-placeholder-color: #999;

$select2-multiple-sel-color: #333;
$select2-multiple-sel-bg-color: #eee;

$select2-multiple-sel-bg-gradient-1: #f4f4f4 20%;
$select2-multiple-sel-bg-gradient-2: #f0f0f0 50%;
$select2-multiple-sel-bg-gradient-3: #e8e8e8 52%;
$select2-multiple-sel-bg-gradient-4: $select2-multiple-sel-bg-color;

$select2-multiple-sel-border-color: #aaa;

$select2-multiple-sel-padding-left: 5px;
$select2-multiple-sel-padding-right: 20px;

$select2-clear-multiple-sel-icon-size: 20px;

$select2-dropdown-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);

$select2-results-opt-list-margin: 4px;
$select2-results-opt-list-padding: 4px;

$select2-results-opt-color: #444;
$select2-results-opt-font-size: 11px;

$select2-results-opt-padding: 4px;

$select2-results-opt-hilite-color: #fff;
$select2-results-opt-hilite-bg-color: #3875d7;

$select2-results-opt-hilite-bg-gradient-1: #3875d7 20%;
$select2-results-opt-hilite-bg-gradient-2: #2a62bc 90%;

$select2-results-opt-hilite-sel-bg-color: #eee;
